html {
  margin: 0;
  padding: 0;
  min-height: 140%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(250, 212, 181);
  background: linear-gradient(
    146deg,
    rgba(250, 212, 181, 1) 0%,
    rgba(254, 245, 220, 1) 100%
  );
}

body {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  box-sizing: border-box;
  height: 150vh;
  width: 150vw;
  background: rgba(41, 39, 39, 0.95);
  z-index: 10;
  margin: 0px;
  padding: 0px;
}

.diff-select {
  margin-left: 50px;
}

.modal h2 {
  position: fixed;
  top: 40%;
  left: 50%;
  font-size: 25px;
  color: white;
  margin-left: -165px;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.title-word {
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
  margin-top: 0px;
}

td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: white;
  padding: 0px;
}

td .contents {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: auto;
  width: 100%;
}

td .number {
  position: relative;
  top: -20px;
  left: -10px;
  font-size: 14px;
  vertical-align: text-top;
}

table {
  border: 2px solid black;
  background-color: black;
  margin: 0px auto;
  text-align: center;
  z-index: 0;
}

@media screen and (min-width: 1376px) {
  .app {
    display: flex;
    margin: 40px 140px;
  }

  table {
    width: 600px;
    height: 600px;
    min-width: 600px;
    min-height: 600px;
    margin-right: 60px;
  }

  .container {
    margin: -10px auto;
    font-size: 12px;
  }

  .across-card,
  .down-card {
    position: relative;
    top: -45px;
  }
}

@media screen and (min-width: 651px) and (max-width: 1375px) {
  .app {
    display: flex;
    margin: 40px 140px;
  }

  .container {
    font-size: 12px;
    position: absolute;
    display: flex;
    word-wrap: break-word;
    align-items: flex-start;
    top: 620px;
    left: 50vw;
    margin-left: -255px;
    width: 560px;
    padding: 0px;
  }

  table {
    position: absolute;
    top: 155px;
    left: 50%;
    margin-left: -245px;
  }

  td {
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
  }

  td .number {
    left: -5px;
    font-size: 12px;
  }

  .across-card,
  .down-card {
    margin: 55px 20px 0 0;
  }
}

@media screen and (max-width: 650px) and (min-width: 451px) {
  .app {
    margin: 40px 140px;
  }

  td .contents {
    font-size: 18px;
  }

  table {
    position: absolute;
    top: 320px;
    left: 50%;
    margin-top: -175px;
    margin-left: -195px;
  }

  td {
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
  }

  td .number {
    left: -0.3em;
    top: -0.5em;
    font-size: 10px;
  }

  .container {
    font-size: 12px;
    position: absolute;
    display: flex;
    word-wrap: break-word;
    align-items: flex-start;
    top: 550px;
    left: 50vw;
    margin-left: -225px;
    width: 450px;
    padding: 0px;
  }

  .across-card,
  .down-card {
    margin: 10px;
  }
}

@media screen and (max-width: 450px) {
  html {
    min-height: 200%;
  }

  .app {
    margin: 40px 140px;
  }

  h1 {
    position: relative;
    font-size: 28px;
  }

  td .contents {
    font-size: 18px;
  }

  table {
    position: absolute;
    top: 320px;
    left: 50%;
    margin-top: -175px;
    margin-left: -150px;
  }

  td {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
  }

  td .number {
    left: -0.3em;
    top: -0.5em;
    font-size: 10px;
  }

  .container {
    font-size: 12px;
    position: absolute;
    display: flex;
    word-wrap: break-word;
    align-items: flex-start;
    top: 430px;
    left: 50vw;
    margin-left: -150px;
    width: 300px;
    padding: 0px;
  }

  .across-card,
  .down-card {
    margin: 10px;
  }
}
