html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(250, 212, 181);
  background: linear-gradient(
    146deg,
    rgb(123, 161, 197) 0%,
    rgb(156, 178, 207) 100%
  );
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.vector-background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.03;
  z-index: -10;
  object-position: bottom;
}

body {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  box-sizing: border-box;
  height: 150vh;
  width: 150vw;
  background: rgba(41, 39, 39, 0.95);
  z-index: 10;
  margin: 0px;
  padding: 0px;
}

.modal h2 {
  position: fixed;
  top: 40%;
  left: 50%;
  font-size: 25px;
  color: white;
  margin-left: -165px;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
  min-height: 90vh;
  justify-content: center;
}

.content-container {
  display: flex;
  justify-content: center;
}

.header {
  width: calc(100% - 12rem);
  margin: 0 6rem 2rem 6rem;
  border: 1px solid rgb(32, 81, 104);
  border-right: none;
  background: linear-gradient(to right, rgb(24, 27, 46), rgba(0, 0, 0, 0.1));
}

.title-word {
  margin-left: 3rem;
  color: #eee;
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 72rem;
}

.controls {
  display: flex;
  align-items: center;
  height: 8rem;
  padding: 0 6rem 0 6rem;
  justify-content: space-between;
}

.buttons {
  justify-self: flex-end;
}

.reveal {
  background: linear-gradient(rgb(1, 94, 89), rgb(1, 67, 70));
  border: none;
}

.reveal:hover {
  background: linear-gradient(rgb(1, 77, 73), rgb(1, 49, 51));
}

select {
  cursor: pointer;
}

button {
  border: 0.2rem solid #333;
  height: 4.5rem;
  width: 12rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: #eee;
  background: linear-gradient(rgb(61, 61, 61), rgb(15, 15, 15));
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 2.3rem rgba(0, 0, 0, 0.25);
}

.new {
  margin-left: 2.4rem;
}

.new:hover {
  background: linear-gradient(rgb(75, 75, 75), rgb(32, 32, 32));
}

.diff-select label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.8rem;
}

.diff-select select {
  height: 3rem;
  width: 12rem;
}

table {
  border: 2px solid black;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 600px;
  height: 600px;
  min-width: 600px;
  min-height: 600px;
  margin-right: 60px;
  margin-left: 60px;
}

td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: white;
  padding: 0px;
  display: table-cell;
  position: relative;
}

td .contents {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: auto;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

td .number {
  position: absolute;
  top: 0;
  left: 0.3rem;
  font-size: 14px;
  height: 10px;
  z-index: 5;
  pointer-events: none;
}

td .input {
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  z-index: 0;
  outline: none;
  border: none;
  text-align: center;
  pointer-events: none;
}

.message {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(23, 92, 60);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  background: rgb(248, 230, 214);
  background: linear-gradient(
    146deg,
    rgb(233, 240, 248) 0%,
    rgb(247, 253, 255) 100%
  );
  padding: 20px 30px;
  z-index: 30;
  border: 3px solid rgb(14, 105, 49);
  border-radius: 20px;
  height: min-content;
  width: 400px;
  display: none;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}

.container {
  margin-right: 6rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  height: min-content;
  min-height: 66.3rem;
  width: 60rem;
  border-radius: 0.5rem;
  padding: 2rem 4rem;
  background: linear-gradient(rgb(248, 249, 250), rgb(237, 240, 241));
  box-shadow: 0 0 3.3rem rgba(0, 0, 0, 0.45);
}

h3 {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.line-break {
  width: 100%;
  height: 0.2rem;
  background-color: rgb(48, 68, 54);
}

.across-card p,
.down-card p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 1400px) {
  .header {
    width: 140%;
    align-self: center;
  }

  .content-container {
    flex-direction: column;
  }

  .container {
    margin-top: 3rem;
    width: 140%;
    align-self: center;
    margin-right: 0rem;
    flex-direction: row;
    min-height: min-content;
    margin-bottom: 4rem;
  }

  .across-card {
    margin-right: 4rem;
  }

  .across-card,
  .down-card {
    min-width: 35%;
  }
}

@media screen and (max-width: 1250px) {
  .message {
    font-size: 1.6rem;
  }

  td {
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
  }

  td .number {
    font-size: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    width: 110%;
  }

  .container {
    width: 110%;
  }
}

@media screen and (max-width: 850px) {
  .header {
    width: 60rem;
  }

  .container {
    width: 60rem;
  }
}

@media screen and (max-width: 750px) {
  .header {
    width: 100%;
  }

  .controls {
    width: 100%;
    padding: 0rem 0rem;
  }

  .new {
    margin-left: 1rem;
  }

  button {
    width: 8rem;
    font-size: 1.4rem;
  }

  td .contents {
    font-size: 2rem;
  }

  .buttons {
    left: 50px;
  }

  .table-container {
    width: 100%;
  }

  table {
    height: 45rem;
    width: 45rem;
    max-height: 45rem;
    min-height: 45rem;
    max-width: 45rem;
    min-width: 45rem;
    margin: 0 auto;
  }

  td .input {
    width: 3rem;
    height: 2rem;
    font-size: 2rem;
  }

  .container {
    font-size: 12px;
    word-wrap: break-word;
    width: 47.2rem;
    padding: 0px 2rem;
  }

  .across-card,
  .down-card {
    margin: 10px;
  }
}

@media screen and (max-width: 550px) {
  .new {
    margin-left: 0.5rem;
  }

  .message {
    font-size: 12px;
  }

  td .contents {
    font-size: 1.7rem;
  }

  td {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 25px;
    min-height: 25px;
  }

  td .number {
    font-size: 8px;
  }

  td .input {
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
  }

  .container {
    margin-top: 1rem;
  }

  .across-card,
  .down-card {
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  table {
    width: 30rem;
    height: 30rem;
    min-width: 30rem;
    max-width: 30rem;
    min-height: 30rem;
    max-height: 30rem;
  }

  .header {
    width: 30rem;
    font-size: 0.8rem;
  }

  .message {
    width: 25rem;
  }

  .controls {
    width: 30rem;
    margin: 0rem auto;
  }

  .diff-select {
    width: min-content;
  }

  button {
    height: 3.5rem;
    width: 6.8rem;
  }

  td .input {
    font-size: 1.4rem;
  }

  td .contents {
    font-size: 1.4rem;
  }

  .container {
    width: 30rem;
  }

  .diff-select {
    margin-left: 1rem;
  }

  .buttons {
    margin-right: 1rem;
  }
}
